# Default php - docker projecto gitignore
/vendor/
# /composer.lock
# /.env
/.env.local
/.env.*.local

*.log
/logs
/log
*.cache
/coverage
/.phpunit.result.cache
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
docker-compose.override.yml
.tmp/
